<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(3, auto);
        }
    </style>
</head>
<body>
<h1>Using thymeleaf, Jpa</h1>
<div class="grid">
    <div>아이디</div>
    <div>이름</div>
    <div>이메일</div>
</div>
<!--        /*@thymesVar id="member" type="com.example.springframwork.dto.Member"*/-->
    <div th:each="member : ${members}" class="grid">
        <div th:text="${member.id}"></div>
        <div th:text="${member.name}"></div>
        <div th:text="${member.email}"></div>
    </div>
</body>
</html>