/*@charset "utf-8";*/
.blackTop {

    background: black;
    color: white;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 3rem;
    font-family: Consolas;
}
.bodyTop {
    padding: 0px;
    margin: 0px;
    border: 0px;
}