<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
</head>
<body>

<form action="/login" method="post">
    이름 : <!--/*@thymesVar id="failLogin" type="com.example.springframwork.controller.MemberController"*/-->
    <input type="text" id="name" name="name" th:value="${errorName}"><br/>
    <input type="submit" value="로그인">
</form>
<!--/*@thymesVar id="loginError" type="com.example.springframwork.controller.MemberController"*/-->
<div th:if="${loginError}" th:text="#{login.error}"></div>

</body>
</html>